* {
  font-family:
    Nunito Sans,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family:
    Montserrat,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
}

a {
  color: inherit;
}

body {
  line-height: 1.4;
  background: #fff;
  color: #020617;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 20px auto;
  padding: 20px 0 40px;
  background: #fffcf1 url("./background.png") 0 -10px no-repeat;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

p,
li {
  font-size: 0.8em;
}

h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
  color: #1f2937;
  margin: 8px 0;
}
h4 {
  font-size: 1.2em;
  color: #475569;
  margin: 4px 0;
}
h5,
h6 {
  font-size: 0.8em;
  color: #64748b;
}

li {
  list-style: disc;
}
li::marker {
  color: #f7b95f;
  font-size: 1.2em;
  line-height: 0.8em;
}

h6 {
  display: list-item;
  list-style: disc;
}
h6::marker {
  color: #f7b95f;
  font-size: 1.2em;
  line-height: 0.8em;
}

/* right side  */
main {
  margin: 70px 20px 0 0;
  padding: 0 60px;
  order: 2;
}

main header {
  margin-bottom: 20px;
  text-align: center;
}

main #summary {
  text-align: justify;
}

main ul {
  padding-left: 20px;
}

main .place-and-date {
  display: flex;
  justify-content: space-between;
}

/* left side  */
aside {
  margin: 40px 0 0 20px;
  padding: 0 20px;
  order: 1;
}

aside img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

aside address {
  margin: 40px 0 24px;
}
aside address li {
  list-style: none;
  text-align: center;
  font-style: normal;
}

aside ul {
  padding-left: 16px;
}
aside li {
  margin: 4px 0;
}

@media print {
  html {
    background-color: #fff;
  }

  body {
    padding: 0;
    box-shadow: none;
  }

  /* hides all bullet points to gain height space */
  main li {
    display: none;
  }
}
